<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if not request.COOKIES.id %}
  쿠키를 생성해 주세요
  <a href="/set_cookie">쿠키 생성</a>
{% else %}
  {{request.COOKIES.id}}님 환영합니다.<br>
    비번: {{request.COOKIES.pwd}}<br>
    이름(쿠키): {{request.COOKIES.name}}<br>
    이름(일반): {{name}}<br>
{% endif %}
<br>
<a href="/del_cookie">쿠키 삭제</a>
<a href="/change_cookie">쿠키 변경</a>
<a href="#" onclick="history.back()">Back</a>
<a href="/">Home</a>
</body>
</html>