<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script>
function check() {
    let price = document.form1.price.value;
    let amount = document.form1.amount.value;
    if (price == "") {
        alert("Enter the price.");
        document.form1.price.focus();
        return;
    }
    if (amount == "") {
        alert("Enter the quantity.");
        document.form1.amount.focus();
        return;
    }
    document.form1.submit();
}
</script>
</head>
<body>
<form name="form1" method="post">
{% csrf_token %}
    price : <input type="text" name="price"><br>
    amount : <input type="text" name="amount"><br>
    <button type="button" onclick="check()">버튼1</button>
    <button>버튼2</button>
</form>
</body>