<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>사원목록</h2>
<a href="/">Home</a>
<a href="/salary">사원 추가</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>월급</th>
        <th>보너스</th>
        <th>총액</th>
        <th>세액</th>
        <th>실수령액</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.id}}</td>
        <td><a href="/salary_detail?id={{item.id}}">{{item.name}}</a></td>
        <td>{{item.sal}}</td>
        <td>{{item.bonus}}</td>
        <td>{{item.total}}</td>
        <td>{{item.tax}}</td>
        <td>{{item.money}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>