<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{msg}}</h2>
<a href="hello">hello python</a><br>
<a href="now">오늘 날짜</a><br>
<a href="array">배열</a><br>
<a href="age">나이계산</a><br>
<a href="mysum">합계계산</a><br>
<a href="salary_list">급여계산</a><br>
<a href="radio">라디오버튼</a><br>
<a href="checkbox">체크박스</a><br>
<a href="button">버튼</a><br>
<a href="textarea">TextArea</a><br>
<a href="select">select</a><br>
<a href="select2">select2</a><br>
<a href="point">점수계산</a><br>
<a href="gugu">구구단 계산</a><br>
<a href="set_cookie">쿠키 생성</a><br>
<a href="counter">쿠키 카운터</a><br>
<a href="session_main">세션</a><br>
<a href="session_counter">세션 카운터</a><br>
</body>
</html>
