<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Home</h2>
{% if data.is_authenticated %}
    <h2>회원 로그인 관련 정보</h2>
    <ul>
        {% for key,value in data.items %}
            <li>{{key}} : {{value}}</li>
        {% endfor %}
    </ul>
    <a href="/member/logout">로그아웃</a>
{% else %}
    <h2>로그인하세요.</h2>
   로그인 상태 : {{data.is_authenticated}}<br>
   사용자 아이디 : {{data.username}}<br>
    <span style="color:red;">{{msg}}</span><br>
    <a href="/member/login">로그인</a>
    <a href="/member/join">회원가입</a>
{% endif %}

</body>
</html>